.veteran-owned-badge {
  font-size: 0.8em;
  /* margin-bottom: 10px; */ /* This margin might be specific to Navbar layout, can be added in Navbar.css if needed */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Ensuring text color if not inherited */
  font-family: 'Radio Canada', sans-serif;
}

.flag-icon {
  width: 20px;
  height: auto;
  margin: 0 5px;
} 